BACKEND_PORT=3001
FRONTEND_PORT=5173
APP_DATA_DIR=runtime-data

FENBEITONG_MODE=mock
FENBEITONG_TENANT_KEY=puhui
FENBEITONG_REIMBURSEMENT_PAGE_INDEX=
FENBEITONG_REIMBURSEMENT_PAGE_SIZE=
FENBEITONG_REIMBURSEMENT_APPLY_STATE=
FENBEITONG_REIMBURSEMENT_PAYMENT_STATE=

KINGDEE_MODE=real
KINGDEE_BASE_URL=
KINGDEE_ACCT_ID=
KINGDEE_USERNAME=
KINGDEE_PASSWORD=
KINGDEE_LCID=2052
KINGDEE_AUTH_PATH=Kingdee.BOS.WebApi.ServicesStub.AuthService.ValidateUser.common.kdsvc
KINGDEE_SAVE_PATH=Kingdee.BOS.WebApi.ServicesStub.DynamicFormService.Save.common.kdsvc
KINGDEE_VIEW_PATH=Kingdee.BOS.WebApi.ServicesStub.DynamicFormService.View.common.kdsvc

SCHEDULER_ENABLED=false
SCHEDULER_INTERVAL_SECONDS=3600
SCHEDULER_AUTO_PUSH_ERP=false
